@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 40px;
}

h2 {
  font-weight: 700;
  font-size: 1.68rem;
  line-height: 32px;
}

h3 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 24px;
}

h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
}

h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.leaflet-container {
  min-height: 420px;
  width: '100%';
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}